.hidden {
    display: none;
}
body {
    background-color: #111111;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.opa {
    position: absolute;
    background: linear-gradient(
        70deg,
        rgba(32, 33, 36, 1),
        73%,
        rgba(32, 33, 36, 0.9) 80%,
        rgba(32, 33, 36, 0.8) 87%,
        rgba(210, 174, 42, 0.4) 90%,
        rgba(210, 174, 42, 0.3) 92%,
        rgba(33, 33, 33, 0.1) 95%
    );
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
}

img {
    width: auto;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: -2;
}

.time {
    z-index: 5;
    color: #d2ae2a;
    font-size: 10em;
    font-weight: 600;
    position: absolute;
    bottom: 50%;
}

#login-form {
    position: absolute;
    bottom: 30%;
}

.joinInput {
    background-color: inherit;
    border-right: none;
}
.joinInput::placeholder {
    color: #d2ae2a;
    text-align: center;
}
.joinInput[type="text"] {
    color: #d2ae2a;
}

.joinInput:focus {
    animation-name: border-ani;
    animation-duration: 1s;
}
@keyframes border-ani {
    50% {
        border-bottom: 10px solid#d2ae2a;
    }
    100% {
        border-bottom: 0px solid#d2ae2a;
    }
}

#login-form input:last-child {
    background-color: inherit;
    color: #d2ae2a;
    border: 1px solid #d2ae2a;
    margin-left: 20px;
    padding: 5px 25px;
    border-radius: 5px;
}

#weather {
    color: #999999;
    position: absolute;
    bottom: 20px;
    font-weight: 600;
}
